---
layout: default
---
<div class="post-ribbon"></div>
<main class="post-main mdl-layout__content mdl-cell--12-col">
  <div class="post-container mdl-grid">
    <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--10-col-desktop mdl-cell--10-col-tablet">
      <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title" {% if page.image %} style="background: url('{{site.baseurl}}/{{ page.image }}') center/cover;" {% endif %}>
        </div>
        <div class="mdl-card__supporting-text">
          <div class="mdl-color-text--grey-500">
          {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}{% if page.categories %} • {% for cat in page.categories %} {{ cat }} {% endfor %} {% endif %}
          </div>
          <article class="post-content">
            <h4>Now Hiring! <small>- Current big data jobs in Austin</small></h4>
          </article>
        </div>
      </div>
      {{ content }}
    </div>
    <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
  </div>
</main>
